.Dashboard{
    display: flex;
    justify-content: center;
}

.EmployeeTable {
    margin-top: 20px;
  
  }
  
  .tabledata {
    margin: 0;
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }
  
  .red-row {
    background-color: red;
    /* Add any other styling for red rows */
  }
  
  .EmployeeTable {
    width: 98%;
    align-self: center;
  }
  
  .dropdowns {
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .label {
    display: inline-block;
    /* Adjust the width as needed */
    padding: 20px;
  }
  
  input[type="date"],
  select {
    width: 150px;
    /* Adjust the width as needed */
    margin-bottom: 10px;
  }
  .header{
    background-color: #FFFFFF;
  }
  button {
    width: 100px;
    /* Adjust the width as needed */
    padding: 5px;
  }
  
  .label:not(:last-child) {
    margin-right: 20px;
  }
  
  .custom-button {
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  }
  
  .fiter-controls {
    height: 1.5rem;
    padding: 20px;
    background: #e45545;
    border-radius: 7px;
    color: white;
    border-radius: 10px;
  }
  
  #search-button {
    background: #f58742;
    border-color: white;
    border-radius: 7px;
    margin-left: 20px;
    color: white;
  }
  
  .filter-controls{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* EmployeeTable.css */
  
  .filter-controls-container {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .filter-controls {
    display: flex;
    gap: 10px;
  }
  
  .labels {
    display: flex;
    flex-direction: column;
  }
  
  .search-bar input {
    height: 1.5rem;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .search-button {
    background-color: #1976d2;
  }
  
  .reset-button {
    background-color: #bdbdbd;
    color: #424242;
  }

  .manualentry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
    .form1, .form2{
      display: flex;
      flex-direction: column;
    }
    label {
      display: inline-block;
      margin-bottom: 5px;
      font-size: 14px;
      color: #555; /* Medium gray color */
      border-top-left-radius: 5px;
      margin-right: 85px; /* Two tab spaces between labels */
    }
    .pageheader{
      height: 7vh;
      width: 100%;
      background-color: #ECECEC !important;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2%;

      
      }
      .inputsearch{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #FDEDED;
        margin-bottom: 2%;
        width: 100%;
        height: 9vh;
        align-items: center;

      }
      .inputsearch label{
        margin: 0;
      }
      .inputsearch input{
        width: min-content;

      }
      .ModalHeading{
        padding: 0% !important;
      }

      .tablepadding{
        display: flex;
        justify-content: space-between;
        
      }